# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lot
*.lof
*.loa
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv

# LaTeX intermediate files
*.dvi
*.ps

# Generated PDFs (uncomment if you don't want to track them)
# *.pdf